.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.evil {
  color: red;
}

.good {
  color: blue;
}

.black {
  color: black;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.checkboxtext:hover {
  cursor: pointer;
}

.checkboxtext
{
  /* Checkbox text */
  padding-left: 10px;
  font-size: 18px;
  display: inline;
}

.checkbox-div {
  padding: 5px 0px;
}
